body {
  font-family: Arial, sans-serif;
  text-align:center;
  padding: 30px;
  background-color: #a71c974d;
}

.keyboard {
  display: inline-block;
  padding: 10px;
  background-color: #870303;
  border: 1px solid #000000;
  border-radius: 10px;
}

.row {
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
  flex-wrap: wrap;
}

.key {
  width: 40px;
  height: 40px;
  margin: 3px;
  background-color: #e6e6e6;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
}

.key:hover {
  background-color: #861414;
}

.key.wide {
  width: 80px;
}

.key.space {
  width: 240px;
}
